* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(245, 248, 255);
}

button {
    text-decoration: none;
    gap: 10px;
    padding: 5px;
    color: #ffffff;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 4%;
    border-radius: 30px !important;
    background-color: rgb(151, 151, 224);
    height: 7vh;
    border: 1px;
    border-color: fff;
    box-shadow: 2px 2px 4px #888;
}


/*Header*/
.header {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 3vh;
    margin: auto;
}

.header h2 {
    font-family: Segoe UI;
    font-size: 3vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*Hero*/
.hero {
    height: 60vh;
    margin: 10vw;
    display: flex;
    align-content: center;
    align-items: center;
    gap: 10vh;
    
}

.hero-text {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    flex-wrap:wrap;
    gap: 2vh;
}

.hero-text button {
    display: flex;
    justify-content: center;
    max-width: fit-content;
}

.hero h3{
    font-size: 35px;
}

.hero-img img {
    max-width: 37vh;
    border-radius: 50%;
    box-shadow: 2px 2px 4px #888;
}
/*Footer*/
.footer {
    
    width: 100%;
    text-align: center;
}

.footer p {
    margin: 0;
}



/*Carousel*/
.cardsStyle{
   
} 

